// card background customised styling
.background {
  background-color: $primary;
	color: $light;
	h1, h2, h3, h4, h5, h6, p, locker {
    color: $light;
  }
  .title {
    height: 126px;
    font-size: 2.5rem;
    line-height: 1em;
    white-space: normal;
    overflow: hidden;
  }
  b {
    text-transform: uppercase;
  }
}

// activity locked background color 
.locked {
  background-color: $locked !important;
}

// feedback page review answe background color qwith no border radius
.review {
  background-color: $review !important;
  border-radius: 0px !important;
}

.transparent-background {
  background-color: transparent;
}

// home page medal css
.score-medal {
  padding: 0 20px 20px;
  text-align: center;
  display: block;
}
.score-medal img {
	width: 230px;
}