.submit-button {
  width: 100%;
  border-radius: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 6px 0;
}

.textarea,
.item.item-input.textarea {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0px;
}

.button.button-assertive,
.button.button-assertive.button-clear {
  background-color: transparent;
  color: $primary;
}

// close button 
.close-btn {
  font-size: 4em;
  display: block;
  text-align: right;
  color: $primary;
}

// set the primary text color and text style
.text-color {
  color: $primary;
}

.text-italic {
  font-style: italic;
}